/*Header e navegação*/
.menu{
    background: var(--color-dark-2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    z-index: 10;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1{
    font-size: 2.3rem;
    color: var(--color-primary);
}

.menu h1 a{
    color: inherit;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

.menu ul li a{
    display: block;
    padding: 1.2rem 1.4rem;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-primary);
    position: relative;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 25%;
    width: 0;
    height: 0.2rem;
    background: #fd9c00;
    transition: all var(--transition-default);
}

.menu ul li a:hover::after{
    width: 50%;
}

.menu h1 img{
    height: 200px;
    width: auto;
    display: block;
}
